In [9]:
import pandas as pd
import numpy as np
import sklearn
from matplotlib import pyplot as plt

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental.preprocessing import TextVectorization
from tensorflow.keras.layers.experimental.preprocessing import StringLookup

from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.model_selection import train_test_split
tf.random.set_seed(1)

<frozen importlib._bootstrap>:241: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
data = pd.read_csv("data/data.csv")

In [10]:
data.head()

,Unnamed: 0,User_id,Bus_id,Star,Useful,Cool,Funny,Review,State,City,Bus_Ave_Star,User_Review_count,User_Useful_count,User_Funny_count,User_Cool_count,Elite,User_Fans,Users_Ave_Star
0,0,4hBhtCSgoxkrFgHa4YAD-w,bbEXAEFr4RYHLlZ-HFssTA,5.0,0,0,0,"Great burgers,fries and salad! Burgers have a...",CA,Goleta,4.0,922,1687,694,1070,"2015,2016,2017,2018,2019,20,20,2021",51,4.20
1,1,JYYYKt6TdVA4ng9lLcXt_g,SZU9c8V2GuREDN5KgyHFJw,5.0,0,0,0,We were a bit weary about trying the Shellfish...,CA,Santa Barbara,4.0,338,800,144,353,"2012,2013,2014,2015,2016,2017,2018,2019,20,20,...",30,4.12
2,2,Uk3X2AypU8AqvcYEVf7s6Q,eL4lyE7LNoXEMvpcJ8WNVw,3.0,5,0,0,This was a tough one! On the merits of the w...,CA,Santa Barbara,4.0,431,2126,1245,1476,"2012,2013,2014,2015,2016,2017,2018,2019,20,20,...",76,4.05
3,3,LcqNuhqaYt5ekKzaRirmIg,SZU9c8V2GuREDN5KgyHFJw,5.0,2,1,0,"I love trying fresh seafood on piers, wharfs a...",CA,Santa Barbara,4.0,258,452,125,183,"2015,2016,2017",37,3.99
4,4,gasLVm0KRwrVhPGRcqATjw,CHh0ZFrQcsk4boOItr2Zuw,4.0,1,2,0,I stopped in because I was hungry for some sna...,CA,Carpinteria,3.0,1638,2658,933,2297,"2014,2015,2016,2017,2018,2019,20,20,2021",105,3.79

In [3]:
data.shape

(53845, 18)

In [4]:
data.City.unique()

array(['Goleta', 'Santa Barbara', 'Carpinteria', 'Montecito',
       'Isla Vista', 'Santa Barbara ', 'Truckee', 'Summerland',
       'Port Hueneme', 'West Hill', 'Los Angeles', 'Mission Canyon',
       'Sparks', 'Kings Beach', 'Cerritos', 'Santa Clara', 'Reno',
       'Real Goleta', 'Aliso Viejo', 'Santa Barbara & Ventura Counties',
       'South Lake Tahoe', 'Santa Barbra', 'Santa  Barbara', 'Salinas',
       'Santa Maria'], dtype=object)

In [5]:
data.groupby("City").aggregate({"Star": [len, np.mean]})

                                   Star
                                    len      mean
City
Aliso Viejo                           1  5.000000
Carpinteria                        2557  3.958936
Cerritos                             10  3.400000
Goleta                             6009  3.863538
Isla Vista                         1425  3.849123
Kings Beach                           1  5.000000
Los Angeles                           3  5.000000
Mission Canyon                       10  4.400000
Montecito                           848  4.186321
Port Hueneme                          1  3.000000
Real Goleta                           4  2.750000
Reno                                  1  5.000000
Salinas                               2  4.000000
Santa  Barbara                       20  4.200000
Santa Barbara                     42501  4.029905
Santa Barbara                         6  4.833333
Santa Barbara & Ventura Counties      1  5.000000
Santa Barbra                          4  3.750000
Santa Clara                          15  2.400000
Santa Maria                           3  5.000000
South Lake Tahoe                      1  5.000000
Sparks                                2  5.000000
Summerland                          406  4.115764
Truckee                              13  4.461538
West Hill                             1  5.000000

## Data Processing

In [ ]:
import nltk
from nltk.corpus import stopwords
from string import punctuation
import re
nltk.download('stopwords')
stops = set(stopwords.words('english'))
stops.add("'s")
stops.remove("not")


def clean(sentence):
    # delete stopwords
    temp = " ".join(filter(lambda x: x not in stops, sentence.split()))
    # Remove punctuation
    temp = temp.translate(str.maketrans('', '', punctuation))
    # remove non-english characters
    temp = temp.encode("ascii", "ignore").decode()
    # Change all to lower case
    temp = temp.lower()
    # Delete numbers
    temp = re.sub(r'[0-9]', "", temp)
    # Delete excessive spaces and return
    return re.sub("  ", " ", temp)